@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 550px;
  background-color: #23252C;
  margin: 0 auto;
  padding: 46px 120px;
}

@media only screen and (max-width: 450px) {
  .App {
    width: 100%;
    padding: 46px 45px;
  }
}

.card {
  background-color: #1A1B21;
  color: white;
  font-family: Inter;
  border-radius: 10px;
}

.header {
  width: 100%;
  margin-bottom: 15px;
}

.header__img {
  width: 100%;
  height: 340px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main__head {
  text-align: center;
}

.main__head h1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 7px;
}

.main__head h3 {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: #F3BF99;
}

.portfolio {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
}

.contact {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
}

.contact a {
  text-decoration: none;
  padding: 10px 17px;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.contact-email {
  background-color: white;
  color: black;
}

.contact-email img {
  width: 30px;
}

.contact-linkedin {
  background-color: #5093E2;
  color: white;
}

.contact-linkedin img {
  width: 15px;
  margin-right: 10px;
}


.main__body {
  list-style: none;
  padding: 30px;
}

.main__body h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 5px;
}

.main__body p {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
}

li:first-child {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.footer a:not(:last-child) {
  margin-right: 15px;
}

.footer a img {
  width: 25px;
  height: 25px;
}